# Ambiente virtual
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# Ferramentas
.flake8
.mypy_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
